body {
  background: #f1f5f8;
}

main {
  width: 50vw;
  margin: 5rem auto;
}

.container {
  padding: 4rem 0;
  color: #102a42;
  text-align: center;
  background: white;
  margin-bottom: 5rem;
  border-radius: 0.5rem;
}

h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 8rem;
}

.button-container {
  display: flex;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
}

.btn {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

.btn:not(:last-child) {
  margin-right: 1.75rem;
}

.btn:hover {
  color: white;
  background: #222;
}

@media screen and (max-width: 768px) {
  main {
    width: 80vw;
  }
}

@media screen and (max-width: 450px) {
  h2 {
    font-size: 4rem;
  }

  h1 {
    font-size: 6rem;
  }

  .btn {
    font-size: 1.25rem;
    padding: 0.5rem 0.75rem;
  }

  .btn:not(:last-child) {
    margin-right: 1.25rem;
  }
}
