.section {
  width: 90vw;
  display: grid;
  margin: 6rem auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem 3rem;
}

.img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  border-radius: 0.5rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  overflow: scroll;
  min-height: 100vh;
  background: rgb(0, 0, 0);
  transition: var(--transition);
}

.open {
  opacity: 1;
  z-index: 999;
}

.close-btn {
  position: absolute;
  top: 2rem;
  right: 3rem;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-size: 4rem;
  color: white;
  background: transparent;
}

.next-btn,
.prev-btn {
  position: absolute;
  top: 10rem;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  transform: translateY(-50%);
}

.prev-btn {
  left: -4.5rem;
}

.next-btn {
  right: -4.5rem;
}

.modal-content {
  width: 80%;
  margin: 0 auto;
  margin-top: 10rem;
  position: relative;
  max-width: var(--max-width);
}

.main-img {
  width: 100%;
  height: 32rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.image-name {
  color: white;
  text-align: center;
  margin: 1rem 0 3rem;
}

.modal-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.modal-img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  object-fit: cover;
  cursor: pointer;
  transition: var(--transition);
}

.modal-img:hover {
  opacity: 1;
}

.modal-img.selected {
  opacity: 1;
}

@media screen and (max-width: 992px) {
  .section {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .section {
    width: 80vw;
    grid-template-columns: 1fr;
  }
}