.container {
  width: 70vw;
  margin: 7.5rem auto;
}

.btn {
  border: 0;
  color: #fff2a0;
  font-size: 1.5rem;
  padding: 1rem 1rem;
  background: var(--black-gold);
  transition: var(--transition);
}

.btn:hover {
  opacity: 0.75;
}

p {
  margin: 3rem;
  font-size: 2rem;
  font-weight: 500;
  color: var(--black-gold);
}

@media screen and (max-width: 768px) {
  .container {
    width: 85vw;
  }
}
