body {
  background: #f1f5f8;
}

a {
  text-decoration: none;
}

.wiki {
  width: 90vw;
  margin: 0 auto;
  padding: 8rem 0;
  max-width: 1170px;
}

.container {
  text-align: center;
}

.container img {
  width: 20rem;
}

.container h3 {
  margin: 3rem 0;
  font-size: 3rem;
  font-weight: 500;
}

.form {
  width: 100%;
  display: grid;
  padding: 4rem;
  margin: 0 auto;
  background: white;
  border-radius: 0.5rem;
  grid-template-columns: auto 100px;
}

.container input {
  border: 0;
  outline: 0;
  padding: 1rem;
  font-size: 1.65rem;
  font-family: inherit;
  border-radius: 0.5rem;
}

.form-input {
  background: #f1f5f8;
}

.submit-btn {
  color: white;
  cursor: pointer;
  background: #3b3738;
  text-transform: capitalize;
}

.results {
  padding: 4rem 0;
}

.results h2 {
  text-align: center;
}

.error {
  color: #ee4351;
  text-align: center;
  text-transform: capitalize;
}

.articles {
  gap: 2rem;
  display: grid;
}

.articles a {
  display: block;
  color: #102a42;
  background: white;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  transition: var(--transition);
}

.articles p {
  color: #696566;
  line-height: 1.5;
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .articles {
    grid-template-columns: 1fr 1fr;
  }
  .form {
    max-width: 600px;
  }
}

@media screen and (min-width: 992px) {
  .articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
