body {
  background: #f1f5f8;
}

.products {
  width: 90vw;
  display: grid;
  margin: 6rem auto;
  grid-gap: 1.75rem;
  max-width: 1120px;
  grid-template-columns: 200px 1fr;
}

.search-input {
  border: 0;
  outline: 0;
  width: 100%;
  font-weight: 500;
  font-size: 1.5rem;
  font-family: inherit;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.filters-container {
  margin-left: 0;
}

.filters-container h5 {
  margin: 1.5rem 0;
  font-size: 1.5rem;
}

.company-btn {
  border: 0;
  outline: 0;
  display: block;
  cursor: pointer;
  margin: 1rem 0;
  color: #64748b;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 0.15rem 0;
  font-family: inherit;
  background: transparent;
  text-transform: capitalize;
}

.products-container {
  display: grid;
  grid-gap: 2rem 2rem;
  grid-template-columns: repeat(3, 1fr);
}

.product {
  text-align: center;
}

.product img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.product footer {
  padding: 1rem 0;
}

.product-name {
  color: #64748b;
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 0.45rem;
  text-transform: capitalize;
}

.product-price {
  color: #334155;
  font-weight: 700;
}

h6 {
  margin-top: 1rem;
  font-size: 1.25rem;
}

@media screen and (max-width: 992px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .filters-container {
    margin-left: 1rem;
  }

  .products-container {
    grid-template-columns: 1fr;
  }
}
